@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: $white

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: $default-font
	overflow-x: hidden
	font-weight: 300
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
a
	color: $accent
	font-weight: bold
	text-decoration: none
	transition: all .2s ease
	&:hover
		text-decoration: none
		color: $accent
img
	display: block
	max-width: 100%
	height: auto

b, strong
	font-weight: 600

.btn
	background-color: $accent
	color: $white
	text-decoration: none
	font-size: 14px
	padding: 12px 15px
	text-align: center
	text-transform: uppercase
	font-weight: 500
	box-shadow: 0 0 30px rgba(#000, .3)
	border: 1px solid transparent
	cursor: pointer
	&:hover
		color: $white
		background-color: darken($accent, 3)
	&-white
		background-color: transparent
		color: $accent
		border: 1px solid $accent
		box-shadow: none
	&-red
		background-color: $red

input[tabindex="-1"]
	opacity: 0
	position: absolute
	z-index: -100
	max-width: 200px
	height: 0

@import sections/header
@import sections/slider

@import sections/footer