.footer
	padding: 50px 0
	// background-color: #0d0d0d
	background-color: $accent
	text-align: center
	p
		font-size: 14px
		color: $white
	img
		margin: 0 auto
		filter: brightness(0) invert(1)
	
	.disclamer_switch
		color: #7b7b7b
		text-decoration: underline
		font-size: 12px
		line-height: 100%
		display: inline-block
		text-decoration: underline
		padding-top: 30px
		margin-bottom: 20px

	.disclamer
		font-size: 10px
		display: none
		text-align: left
		margin-bottom: 20px
		p, a
			color: #7b7b7b

.top
	position: fixed
	bottom: 15px
	left: -300px
	z-index: 100
	opacity: .7
	cursor: pointer
	transition: all .7s ease-in-out
	&:hover
		opacity: 1
	&.active
		left: 20px

.modal
	background-color: $white
	padding: 40px 45px
	position: relative
	top: 5%
	left: 50%
	transform: translate(-50%, 0)
	max-width: 450px
	width: 100%
	h2
		line-height: 1
	&-link
		white-space: nowrap
	h2, p
		text-align: center
	p
		font-size: 16px
	.range
		&__title
			text-align: left
			font-size: 18px
		&__wrapper
			margin-bottom: 40px
	&.credit
		padding: 25px 30px
		max-width: 560px
		top: 40px
		position: relative
		transform: translate(-50%, 0)
	&.error
		.rand
			text-align: center
.privacy
	max-width: 960px
	width: 97%
	top: 40px
	left: 50%
	z-index: 2000
	background-color: $white
	padding: 40px 45px
	position: relative
	transform: translate(-50%, 0)

.overlay
	display: none
	position: fixed
	width: 100%
	height: 100%
	background-color: rgba(0,0,0,.8)
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 1999

.privacy-close 
	position: absolute
	width: 44px
	height: 44px
	font-size: 28px
	line-height: 40px
	right: 10px
	top: 10px
	cursor: pointer
	border: navajowhite
	background-color: transparent
	color: #333

.privacy-close:hover
	color: $black

.privacy-wrap
	position: fixed
	display: none
	top: 0
	left: 0
	width: 100%
	height: 100%
	overflow-x: hidden
	overflow-y: auto
	z-index: 2000


.range__interval-txt-wrapper
	font-size: 16px
	display: flex
	justify-content: space-between